<section class="container">
    <div class="jumbotron text-center">
        <h2>Poll Created Successfully</h2>
        <a href="/profile" class="btn btn-primary">Profile</a>      
        <a href="/" class="btn btn-primary">Home</a>
    </div>
  </section>