<section class="container text-center">
  <h2>Welcome <%= username %></h2>
  <a href="/new-poll" class="btn btn-primary">New Poll</a><br>
  
  <div class="container col-md-4 col-md-offset-4">
      <% if (polls.length > 0) { %>
        <% polls.forEach( poll => { %>
          <div class="form-container">
            <a href="/poll/<%= poll._id %>">
              <h4><%= poll.title %></h4>
            </a>
            <button value="<%= poll._id %>" class="btn btn-danger delPoll">Delete</button>
          </div>
        <% }); %>
      <% } else { %>
        <h3>You have no polls yet</h3>
      <% } %>
  </div>
</section>

<script>
  $(".delPoll").click(function(e) {
    e.preventDefault();

    $.ajax({
      type: "POST",
      url:"/delete-poll",
      data: {
        pollID: $(this).val()
      },
      success: function(result) {
        location.reload();
      },
      error: function(result) {
        alert('Failed to delete');
      }
    });
  });
</script>